.vscode/**
.vscode-test/**
.github/**
src/**
scripts/**
preview/**
out/src/test/**
.chrome-profile/**
**/*.ts
**/*.map
**/*.log
**/*.vsix
.editorconfig
.gitattributes
.gitignore
.npmrc
package-lock.json
node_modules/**
